@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;500&family=Sansita+Swashed:wght@300&display=swap');
body {
    background: url('assist/pexels-andrea-piacquadio-3776659.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 60px;
    text-shadow: 0px 0px 0px #fff, 7px 9px 20px #7641a1, 1px 0px 20px #930fff, 8px 8px 50px #930fff, 0 0 60px #930fff;
    text-align: right;
      margin-right: 90px;
}

ul {
    font-size: 25px;
    color:black;
    margin-left: -10px;
}

section {
  background-color:rgba(240, 240, 240, 0.479);
  text-align: left;
  position: absolute;
  height: 73vh;
  right: 20px;
  margin-right: 30px;
  overflow: auto;
 }
  
  /* ScrollBar */
  ::-webkit-scrollbar {
    width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888; 
  }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  /* Footer */
  footer{
    position: absolute;
    bottom: 0%;
    color: white;
    font-size: 13px;
    align-items: center;
  }
  footer a{
    color: white;
    text-decoration: none;
  }

  /* Media Query */
   @media (max-width: 780px) {
    body {
      background: url(assist/m-bg.jpg) no-repeat center center fixed;
      background-size: cover;
    }
    h1{
      font-size: 40px;
      text-align: center;
      margin-right: 0;
    }
     ul{
      font-size: 16px;
    }
    section{
      position: absolute;
      top: 20%;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%; 
    }
}
