@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;500&family=Sansita+Swashed:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto Mono', monospace;
    background: url('assist/newbg.jpg') no-repeat center center fixed;
    background-size: cover;
}
.title{
    text-align: center;
    font-size: 80px;
    padding-left: 35px;
    color: white;
}
.command-btn{
   border: 2px solid gray;
   padding: 5px 10px;
   border-radius: 10px;
   position: absolute;
   bottom: 20%;
   left: 45%;
   background-color: rgba(65, 65, 65, 0.397);
   transition: 0.3s;
  }
  .command-btn{
    font-size: 17px;
    color: white;
    font-weight: 500;
    text-decoration: none;
  }
 .command-btn:hover{
    color: rgb(19, 19, 19);
    background-color: white;
  }

.container{
    position: absolute;
    top: 25%;
    left: 24%;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 35vh;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.479);
}
.content{
    color: white;
}

  #btn{
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    bottom: 10px;
    border: none;
    left: 48%;
    border-radius: 15px;
}
#btn:focus{
  outline: 0;
}
.hide{
   display: none;
}
.speak{
    position: absolute;
    bottom: 10px;
    margin: 0 42%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
#loading-bar{
    position: absolute;
    bottom: 10px;
}
#loading-bar-left {
    animation: loading-bar-morph 1s linear 0.1s infinite;
    transform-origin: center;
    fill: rgb(255, 255, 255);
}
#loading-bar-middle {
    animation: loading-bar-morph 1s linear 0.2s infinite;
    transform-origin: center;
    fill: rgb(255, 255, 255);
}
#loading-bar-right {
    animation: loading-bar-morph 1s linear 0.4s infinite;
    transform-origin: center;
    fill: rgb(255, 255, 255);
  }

 /* glow font */
.glow {
      font-size: 80px;
      color: #fff;
      text-align: center;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }
    
    @keyframes loading-bar-morph {
      0% {
        transform: scaleY(1);
      }
      25% {
        transform: scaleY(0.3);
      }
      50% {
        transform: scaleY(0.7);
      }
      75% {
        transform: scaleY(0.15);
      }
    }
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

/* Footer */

footer{
  position: absolute;
  bottom: 2%;
  color: white;
  font-size: 16px;
  align-items: center;
}
footer a{
  color: white;
  text-decoration: none;
}

/* Media Query */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .command-btn{
    position: absolute;
    bottom: 15%;
    left: 35%;
  }
  .title{
    position: absolute;
    top: 6%;
  }
  .container{
    top: 30%;
    left: 10%;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 35vh;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.479);
  }
  footer{
    bottom: -10%;
  }
}